<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>loopback-angular-playground</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" ui-sref="home">Playground</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="" ui-sref="home">Home</a></li>
          <li><a href="" ui-sref="reviews.list" ui-sref-active="active">Reviews</a></li>
          <li><a href="" ui-sref="notes.list" ui-sref-active="active">Notes</a></li>
          <li ng-show="currentUser">
            <a href="" ui-sref="users.list" ui-sref-active="active">Users</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li ng-if="currentUser" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{currentUser.username}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="logout" ui-sref-active="active">Log out</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation" class="dropdown-header">Roles:</li>
              <li role="presentation" class="disabled" ng-repeat="role in currentUser.roles"><a>{{role.name}}</a></li>
            </ul>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="sign-up" ui-sref-active="active">Sign up</a>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="login" ui-sref-active="active">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main ui-view></main>
</div>
<script src="vendor/jquery.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-resource.js"></script>
<script src="vendor/angular-ui-router.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/services/lb-services.js"></script>
<script src="js/services/lb-models.js"></script>
<script src="js/controllers/auth.js"></script>
<script src="js/controllers/user.js"></script>
<script src="js/controllers/review.js"></script>
<script src="js/controllers/note.js"></script>
<script src="js/controllers/sandbox.js"></script>
<script src="js/services/auth.js"></script>
</body>
</html>
